[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
aiohttp = "*"

[dev-packages]
mypy = "==0.630"
wemake-python-styleguide = "==0.2.0"

[requires]
python_version = "3.7"
